* {
  scroll-behavior: smooth;
}

:root {
  --z-index-value: 0;
  --circle-radius-value: 0%;
  --global-color-var: purple;
  --dark-plum: #a75eff;
  --dark-grey: #60656a;
  --darker-grey: #313535;
  --html5-color: #ff5a29;
  --css3-color: #1abeff;
  --js-color: #ffce0e;
  --react-color: #29e6d3;
  --node-color: #34ea0e;
  --exo2-and-tahoma-fontstack: "Exo 2", Tahoma;
  scrollbar-width: none;
}

body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: Tahoma, Verdana;
}

a {
  all: unset;
}

button {
  width: max-content;
  padding: 12px 14px;
  box-sizing: border-box;
  border: 3px solid #423842b5;
  border-radius: 1.8rem;
  background-color: transparent;
  font-family: var(--exo2-and-tahoma-fontstack);
  font-size: 1.3rem;
  color: #423842;
  transition: border-color 0.5s, color 0.5s;
}

.intro {
  width: 100%;
  height: 100vh;
  font-family: "Space Grotesk", Tahoma;
  transition: height 1s;
  overflow: hidden;
}

.intro__top-container, .intro__bottom-container {
  width: 100%;
  height: 50%;
  padding-left: 5vw;
  box-sizing: border-box;
  font-size: 1.5rem;
  font-family: inherit;
  color: white;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

.intro__top-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 0.5rem;
  background-color: white;
  color: var(--dark-plum);
  transform: translateX(100%);
  animation-name: slide-entrance-to-left;
}

@keyframes slide-entrance-to-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.intro__bottom-container {
  background-color: var(--dark-plum);
  transform: translateX(-100%);
  animation-name: slide-entrance-to-right;
}

@keyframes slide-entrance-to-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.intro__first-para, .intro__second-para {
  margin: 0px;
  font-size: 4.5rem;
}

.fa-angles-down {
  display: block;
  width: max-content;
  margin: auto;
  animation-name: point-downwards;
  animation-duration: 1.3s;
  animation-delay: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes point-downwards {
  from {
  }
  to {
    transform: translateY(25vh);
    opacity: 0;
  }
}

.header {
  display: flex;
  width: 100%;
  height: 4rem;
  margin-bottom: 10vh;
  padding: 0px 5vw;
  position: sticky;
  top: -4rem;
  box-sizing: border-box;
  background-color: white;
  font-family: "Space Grotesk", Tahoma;
  font-size: 1.3rem;
  z-index: 1;
  color: var(--dark-plum);
  transition: top 0.5s;
}

.header__logo {
  display: flex;
  align-self: center;
  position: relative;
}

.header__logo::after {
  content: "Web-Developer Rajtanu\00a0 Chakravarty";
  display: block;
  position: absolute;
  top: -0.9rem;
  left: 100%;
  margin-left: 8px;
  padding: 4px;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: bolder;
  font-family: var(--exo2-and-tahoma-fontstack);
  color: var(--darker-grey);
  clip-path: circle(var(--circle-radius-value) at 0% 0%);
  transition: clip-path 0.5s;
}

.header__logo:hover {
  --circle-radius-value: 150%;
}

.logo__left-side, .logo__right-side {
  width: 1rem;
  height: 1rem;
  position: relative;
}

.logo__left-side {
  transform: rotate(45deg);
}

.logo__right-side {
  transform: rotate(-135deg);
}

.logo__left-side::before, .logo__left-side::after, .logo__right-side::before, .logo__right-side::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--dark-grey);
  border-radius: 8px;
}

.logo__left-side::before, .logo__right-side::before {
  width: 35%;
  height: 100%;
}

.logo__left-side::after, .logo__right-side::after {
  width: 100%;
  height: 35%;
  bottom: 0px;
}

.logo__center {
  width: 0.8rem;
  position: relative;
  font-size: 2rem;
}

.logo__center::after {
  content: "";
  display: inline-block;
  width: 0.3rem;
  height: 2rem;
  position: absolute;
  margin-left: 0.2rem;
  border-radius: 8px;
  background-color: var(--dark-plum);
  transform: rotate(15deg) translateY(-0.5rem);
}

.header__navbar-icon {
  margin-left: auto;
  align-self: center;
  font-size: 1.5rem;
  color: white;
  transition: transform 0.5s;
}

.navbar__list {
  display: flex;
  justify-content: space-evenly;
  padding: 0px;
  font-family: var(--exo2-and-tahoma-fontstack);
  font-size: 1.3rem;
  color: var(--dark-grey);
}

.navbar__link {
  width: 9.3rem;
  padding: 0px 0.3rem;
  box-sizing: border-box;
  border-left: 0px solid var(--dark-plum);
  border-right: 0px solid var(--dark-plum);
  text-align: center;
  transition: border-width 0.15s;
}

.navbar__link:hover {
  border-width: 6px;
}

.about {
  display: flex;
  width: 100%;
  margin-bottom: 15rem;
  overflow: hidden;
  color: #5b5353;
}

.about__heading {
  width: 40%;
  margin-top: 10%;
  margin-left: 5vw;
  font-size: 1.8rem;
  font-family: var(--exo2-and-tahoma-fontstack);
}

.about__h1 {
  margin: 0px;
  color: #8a52ce;
}

.about__image {
  width: 50%;
  margin-top: 2%;
  margin-left: 10%;
  clip-path: inset(20% 20%);
  transform: scale(1.4);
}

.mern__M {
  color: #0e880e;
}

.mern__R {
  color: #3db6dd;
}

.mern__N {
  color: #0ce30c;
}

.about__button {
  margin-top: 2rem;
  position: relative;
  overflow: hidden;
}

.about__button::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  background-color: #423842;
  clip-path: circle(var(--circle-radius-value) at 0% 50%);
  transition: clip-path 0.5s;
}

.about__button:hover {
  --circle-radius-value: 150%;
  border-color: transparent;
  color: white;
}

.more-about-myself {
  width: 100vw;
  height: 100vh;
  margin-bottom: 15rem;
  padding: 10vh 5vw;
  box-sizing: border-box;
  border-radius: 5vw;
  font-family: var(--exo2-and-tahoma-fontstack);
  color: white;
  background-color: var(--darker-grey);
  overflow: hidden;
}

.h2 {
  width: max-content;
  margin: auto;
  text-align: center;
  font-size: 2.8rem;
}

.more-about-myself__h2-span {
  border-color: #7a61da;
}

.more-about-myself__h2-span, .projects__h2-span, .contact-info__h2-span {
  display: inline-block;
  width: 0%;
  height: 4.4rem;
  padding: 3.8rem 12px 8px;
  box-sizing: border-box;
  border-left-width: 0.5rem;
  border-left-style: solid;
  border-right-width: 0.5rem;
  border-right-style: solid;
  border-radius: 1.2rem;
  overflow: hidden;
  transition: width 0.6s, padding 0.2s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes stretch-and-emerge {
  50% {
    width: 100%;
    padding: 3.8rem 12px 8px;
  }
  100% {
    width: 100%;
    padding: 8px 12px;
  }
}

.more-about-myself__para {
  width: 85%;
  margin-top: 3rem;
}

.hand-wave {
  font-size: 2.2rem;
  color: #fdc51c;
  transform-origin: bottom left;
  animation-duration: 0.8s;
  animation-iteration-count: 3;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
}

@keyframes hand-waving {
  50% {
    transform: rotate(-20deg);
  }
}

.more-about-myself__para {
  font-size: 1.6rem;
}

.projects {
  width: 100%;
  margin-bottom: 15rem;
  padding: 10vh 5vw;
  box-sizing: border-box;
  font-family: var(--exo2-and-tahoma-fontstack);
}

.projects__h2-span {
  border-color: var(--dark-grey);
  color: #b494ca;
}

.project1, .project2, .project3 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 3rem auto 8.5rem;
  position: relative;
  perspective: 600px;
  color: white;
}

.project1__image-container, .project2__image-container, .project3__image-container {
  width: 50%;
  transform-origin: top left;
  transform: rotateY(30deg);
  border: 2px solid transparent;
  border-radius: 1.5rem;
  overflow: hidden;
  transition: transform 0.5s;
}

.project1__image-container:hover, .project2__image-container:hover, .project3__image-container:hover {
  transform: rotateY(0deg);
}

.project1__img, .project2__img, .project3__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: inherit;
}

.project1__img, .project2__img, .project3__img {
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes scale-to-disappear {
  33% {
    transform: scale(1.5);
  }
  66% {
    transform: scale(1.5);
    opacity: 0;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
    z-index: -1;
  }
}

@keyframes scale_down-to-appear {
  0% {
    z-index: 0;
    transform: scale(1.5);
    opacity: 0;
  }
  66% {
    transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}

.project1__website-links, .project2__website-links, .project3__website-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: inherit;
  background-color: black;
}

.project1__website-links {
  z-index: var(--z-index-value);
}

.project1__description, .project2__description, .project3__description {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
  font-size: 1.15rem;
  overflow: hidden;
  transform-origin: top right;
}

.project1__hash, .project2__hash, .project3__hash {
  padding: 0.2rem 1rem 0.4rem;
  box-sizing: border-box;
  border-radius: 0.8rem;
  background-color: var(--darker-grey);
  color: inherit;
}

.project1__title, .project2__title, .project3__title {
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  background-color: var(--darker-grey);
  font-size: 1.6rem;
  font-family: "Space Grotesk", Tahoma;
  color: inherit;
}

.project1__details, .project2__details, .project3__details {
  height: 32%;
  padding: 1rem 1rem 1rem 1.4rem;
  box-sizing: border-box;
  border-radius: 2rem;
  background-color: var(--darker-grey);
  color: inherit;
}

.project3__details {
  height: 35%;
}

.project1__tools, .project2__tools, .project3__tools {
  display: flex;
  align-items: flex-end;
  margin-top: 2%;
  padding: 0.6rem;
  border-radius: 14px;
  background-color: var(--darker-grey);
  font-size: 1.2rem;
  color: inherit;
}

.fa-brands {
  margin: 0px 4px;
  font-size: 1.8rem;
}

.fa-html5 {
  color: var(--html5-color);
}

.fa-css3-alt {
  color: var(--css3-color);
}

.fa-square-js {
  color: var(--js-color);
}

.fa-react {
  color: var(--react-color);
}

.fa-node-js {
  color: var(--node-color);
}

.fa-github, .fa-arrow-up-right-from-square {
  font-size: 3.8rem;
  margin: 0px 0.8rem;
  transition: transform 0.3s, color 0.3s;
}

.fa-github:hover, .fa-arrow-up-right-from-square:hover {
  transform: scale(1.2);
  color: #6d3f82;
}

.project2 {
  flex-direction: row-reverse;
}

.project2__image-container {
  transform-origin: top right;
  transform: rotateY(-30deg);
}

.project2__description {
  align-items: flex-start;
}

.project1__info-button, .project2__info-button, .project3__info-button {
  display: none;
  width: max-content;
  margin: auto;
  padding: 8px 1rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  border-radius: 1rem;
  background-color: black;
  color: white;
}

.contact-info {
  padding: 10vh 5vw;
  border-top-left-radius: 5vw;
  border-top-right-radius: 5vw;
  background-color: var(--darker-grey);
  font-family: var(--exo2-and-tahoma-fontstack);
  color: white;
}

.contact-info__h2-span {
  border-color: #7a61da;
}

.fa-handshake {
  font-size: 2.2rem;
  color: #fdc51c;
}

.contact-info__form {
  width: 60%;
  margin: 5rem auto 5rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4rem;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
}

@keyframes scale-change {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.form__name-container, .form__email-container {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.form__name-container {
  margin-right: 10%;
}

.name-field, .email-field {
  width: 100%;
  height: 3rem;
  margin: 0.5rem 0px 1.5rem;
  padding: 0px 1rem;
  box-sizing: border-box;
  border: 0px;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-family: monospace;
  outline: none;
  transition: box-shadow 0.3s, font-size 0.3s;
}

.message-field {
  width: 100%;
  height: 10rem;
  margin-top: 0.5rem;
  padding: 1rem;
  box-sizing: border-box;
  border: 0px;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-family: monospace;
  resize: vertical;
  outline: none;
  transition: box-shadow 0.3s, font-size 0.3s;
}

.name-field:focus, .email-field:focus, .message-field:focus {
  border: 3px solid #7a61da;
  font-size: 1.2rem;
}

.name-field:invalid, .email-field:invalid, .message-field:invalid {
  border-width: 0px;
}

name-field:valid, .email-field:valid, .message-field:valid {
  border-width: 0px;
}

.form__submit-button {
  margin-top: 1.5rem;
  position: relative;
  border-radius: 1rem;
  border: 0px;
  background-color: #dfdfdff2;
  color: white;
  overflow: hidden;
  outline: none;
}

.fa-rocket {
  transform-origin: top left;
  animation-duration: 4s;
  animation-timing-function: ease-in;
}

@keyframes launch {
  16% {
    transform: rotate(-315deg);
  }
  32% {
    transform: rotate(-315deg) translate(-44px, 44px);
  }
  48% {
    transform: rotate(-315deg) translate(-44px, 44px) translate(88px, -88px);
  }
  64% {
    transform: rotate(-315deg) translate(-44px, 44px) translate(88px, -88px);
  }
  80% {
    transform: rotate(-315deg) translate(-44px, 44px) translate(88px, -88px)
      translate(-44px, 44px);
  }
  100% {
    transform: rotate(-315deg) translate(-44px, 44px) translate(88px, -88px)
      translate(-44px, 44px) rotate(315deg);
  }
}

.sent-text {
  display: block;
  width: 100%;
  height: 100%;
  padding: 12px 14px;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translateX(-100%);
  background-color: #7a61da;
  animation-duration: 2s;
  animation-delay: 1.5s;
}

@keyframes slide-right {
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-100%);
  }
}

.form__thank-you-container {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--darker-grey);
  text-align: center;
  font-size: 1.8rem;
  font-family: var(--exo2-and-tahoma-fontstack);
  transform: scale(0);
  animation-duration: 0.25s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes scale-down {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

.form__back-button {
  border-color: #7a61da;
  background-color: #7a61da;
  color: white;
  outline: none;
}

.fa-arrow-left-long {
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  animation-direction: alternate;
}

@keyframes pointing-left {
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.thanking-bot-image {
  width: 25%;
}

.contact-info__connecting-platforms {
  width: max-content;
  margin: auto;
  text-align: center;
}

.contact-info__connecting-platforms-github, .contact-info__connecting-platforms-mobile, .contact-info__connecting-platforms-envelope {
  padding: 1rem;
  border: 5px solid white;
  border-radius: 50%;
  background-color: black;
  font-size: 2.4rem;
}

.contact-info__connecting-platforms-mobile {
  padding: 1rem 1.28rem;
}

.fa-github-address, .fa-mobile-number, .fa-gmail-address {
  width: max-content;
  margin: 0.5rem auto 3rem;
  font-size: 1.5rem;
}

.copyright-notice {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 5rem;
}


@media (max-width: 1080px) {
  .h2 {
    font-size: 2.5rem;
  }

  .fa-github, .fa-arrow-up-right-from-square {
    font-size: 3.5rem;
  }

  .intro__first-para, .intro__second-para {
    font-size: 3.3rem;
  }

  .about {
    flex-direction: column-reverse;
  }

  .header__navbar-icon {
    color: black;
  }

  .navbar {
    position: absolute;
    top: 4rem;
    left: 0px;
    background-color: #e8e7e7e3;
    transform-origin: center;
    transform: rotateX(-90deg);
    transition: transform 0.5s;
  }

  .navbar__list {
    width: 100vw;
    margin: 0px;
    flex-direction: column;
    align-items: center;
    color: #60656a;
  }

  .navbar__link {
    margin: 0.8rem 0px;
  }

  .about__image {
    width: 100%;
    margin: auto;
    transform: none;
    clip-path: none;
  }

  .about__heading {
    width: 80%;
    margin: auto;
    text-align: center;
  }

  .more-about-myself {
    height: inherit;
    border-radius: 10vw;
  }

  .more-about-myself__para {
    width: 100%;
    margin: 2rem auto 2rem;
    font-size: 1.25rem;
  }

  .projects {
    padding: 10vh 5vw 0px;
  }

  .project1__image-container, .project2__image-container, .project3__image-container {
    width: 100%;
    height: 43vh;
    position: absolute;
    border: 0px;
    border-radius: 8px;
    transform-origin: top right;
    transform: none;
  }

  .project1__description, .project2__description, .project3__description {
    width: 100%;
    height: 43vh;
    align-items: center;
    border-radius: 1.5rem;
    background-color: var(--darker-grey);
    font-size: 1rem;
  }

  .project1__title, .project1__details, .project1__tools {
    margin: 0px;
  }

  .project2__title, .project2__details, .project2__tools {
    margin: 0px;
  }

  .project3__title, .project3__details, .project3__tools {
    margin: 0px;
  }

  .project1__details, .project2__details, .project3__details {
    height: inherit;
    text-align: center;
  }

  .project1__tools, .project2__tools, .project3__tools {
    padding: 0px 0.6rem 1.5rem;
  }

  .project1__info-button, .project2__info-button, .project3__info-button {
    display: block;
  }

  .contact-info {
    border-top-left-radius: 10vw;
    border-top-right-radius: 10vw;
  }

  .contact-info__para {
    font-size: 1.4rem;
  }

  .contact-info__form {
    width: 100%;
    font-size: 1.2rem;
  }

  .form__email-container, .form__name-container {
    width: 100%;
  }

  .form__name-container {
    margin-right: 0px;
  }

  .name-field, .email-field, .message-field {
    width: 100%;
    font-size: 1.4rem;
  }

  .thanking-bot-image {
    width: 45%;
  }
}

@media (min-width: 769px) and (max-width: 1080px) {
  .fa-github, .fa-arrow-up-right-from-square {
    font-size: 4rem;
    margin: 0px 1rem;
  }

  .about__image {
    width: 80%;
  }

  .more-about-myself__para {
    font-size: 1.5rem;
  }

  .project1, .project2, .project3 {
    width: 70%;
    margin: 3rem auto 8.5rem;
  }

  .project1__image-container, .project2__image-container, .project3__image-container {
    height: 23rem;
  }

  .project1__description, .project2__description, .project3__description {
    height: 23rem;
    font-size: 1.5rem;
  }

  .project1__tools, .project2__tools, .project3__tools {
    font-size: 1.5rem;
  }

  .contact-info__para {
    font-size: 1.5rem;
  }

  .thanking-bot-image {
    width: 30%;
  }
}
